<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>


  <% if logged_in? %>
    <nav>
      <p>Logged in as: <%= current_user.email %></p>
      <%= button_to "Sign Out", session_url, method: :delete %>
    </nav>
  <% end %>


  <%= yield %>

  </body>
</html>
